body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

/*text classes*/

.text-light {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.text-huge {
	font-size: 65px;
}

/*title classes*/

.title-row {
	margin-top: 30px;
}

.title-logo {
	padding: 15px;
	padding-bottom: 10px;
}

.title-text {
	padding-right: 25px;
	margin-top: 10px;
}

/*horizontal rule*/

.hor-rule {
	margin: 10px;
	margin-left: 0px;
	margin-right: 0px;
	border-width: 4px;
	border-color: #BCBBBB;
	background-color: #BCBBBB;
}

/*jumbotron*/

.jumbotron { 
	margin-top: 20px;
}

/*featured classes*/

.featured-text {
	margin-left: 10px;
	font-size: 300%;
}

/*work classes*/

.work-text {
	font-size: 300%;
}

/*extra margin*/

.bottom-space {
	margin-bottom: 30px;
}