body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}



.text-light {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.text-huge {
	font-size: 65px;
}

.featured-text {
	margin-left: 10px;
}

.title-logo {
	padding: 15px;
	padding-bottom: 0px;
}

.jumbotron { 
	margin-top: 20px;
}
.hor-rule {
	margin: 10px;
	margin-left: 0px;
	margin-right: 0px;
	border-width: 4px
}